@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
*, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main {
    counter-reset: numeration;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 200px;
    width: 100%;
    color: #fff;
}
.container div {
    display: flex;
    flex-direction: row;
}
.item {
    height: 50px;
    width: 50px;
    background-color: #6b6b6b;
}
.item {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    color: white;
}
.item::before {
    counter-increment: numeration;
    content: counter(numeration, upper-roman);
}
.container div:last-child .item {
    background-color: #003380;
}
.container div .item:nth-child(4n+3) {
    background-color: #d32030;
}
button {
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: white;
    width: 500px;
    height: 90px;
    border: none;
    padding: 0;
    outline: none;
    background-color: #003380;
    border-radius: 45px;
}
button:hover {
    cursor: pointer;
    background-color: #d32030;
    transform: scale(1.05);
    transition: 0.5s;
}
button::before, button::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 12px;
    border-top: 2px solid #6b6b6b;
    border-bottom: 2px solid #6b6b6b;
}
button::before {
    left: 550px;
}
button::after {
    right: 550px;
}